{% load static %}
<html>
<head>
	<title>Add User</title>
	<link rel="stylesheet" type="text/css" href="{%static 'CSS/add_user.css'%}">
	
</head>
<body>


	<br>
	<div class="container">
		<div class="header">

			<h2>Create account</h2>


<form class="form" id="form" action='{% url "add_user" %}' method="POST">
	{% csrf_token %}
			<!--Full name-->

			<div class="form-control">
			<label>Full name</label>
			<input type="text" name="name" placeholder="Full Name" id="fullname" required>
			<i class="fas fa-check-circle"></i>
			<i class="fas fa-exclamation-circle"></i>
			<small>Error message</small>
			</div>

			<!--PAN Number -->
			<div class="form-control">
			<label>PAN Number</label>
			<input type="text" name="pan" placeholder="PAN Number" id="pan" required>
			<i class="fas fa-check-circle"></i>
			<i class="fas fa-exclamation-circle"></i>
			<small>Error message</small>
			</div>

			<!--Age-->

			<div class="form-control">
			<label>Age</label>
			<input type="text" name="age" placeholder="Age" id="age" required>
			<i class="fas fa-check-circle"></i>
			<i class="fas fa-exclamation-circle"></i>
			<small>Error message</small>
			</div>

			<!--Gender-->
			<div class="form-control">
			<label>Gender</label>
			<input list="gender" placeholder="Gender" name="gender" id="gender" required>
				  	<datalist id="gender">
					    <option value="Male">
					    <option value="Female">
					    <option value="Others">
		  			</datalist>
		  	</div>

		  	<!--EMail-->
			<div class="form-control ">
			<label>Email</label>
			<input type="email" name="email" placeholder="Email" id="email">
			<i class="fas fa-check-circle"></i>
			<i class="fas fa-exclamation-circle"></i>
			<small>Error message</small>
			</div>

			<div class="form-control">
			<label> City</label>
			<input type="text" name="city" placeholder="City" name="city" list="datalist1" id="city" required>
	 	 	<datalist id="datalist1">
	 	 			<option value="Mumbai">
					<option value="Delhi">
					<option value="Bangalore">
					<option value="Hyderabad">
					<option value="Ahmedabad">
					<option value="Chennai">
					<option value="Kolkata">
					<option value="Surat">
					<option value="Pune">
	 	 			<option value="Lucknow">
					<option value="Jaipur">
					<option value="Indore">
	 	 	</datalist>
	 	 </div>

			

			<button type="submit"> Submit</button><br>
			<input type="button" class="button" value="Cancel" onClick="parent.location='{% url 'home' %}'"/>
		</form>

</div>
</body>
<script type="text/javascript" src="{% static 'JS/add.js' %}"></script>
</html>